body{
    position: relative;
    background-image: url('../../assets/img/img2.png');
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.card{
    background-color: #9C020480;
    box-shadow: 0px 3px 6px #00000099;
    opacity: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    height: 100%;
    margin: 0 25%;
}

.card p:nth-child(1){
    font-size: 1.5em;
    align-items: initial;
    margin-left: 0;
    letter-spacing: 0px;

    justify-content: flex-start;
}

.card .text{
    max-width: 27.1em;
}

.card .text p:nth-child(1){
    font-size: 2em;
    text-align: center;
}


.card img{
    max-width: 52.6em;
}